.container{
    width:100%;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,.05);
    color: #919191;
    font-size: 25px;
    height: 75px;
    border-radius: 10px;
    line-height: 75px;
    text-align: center;
}