
@font-face {
    font-family: arshia;
    src: url(./B\ Arshia.ttf);
}

@font-face {
    font-family: bakh;
    src: url(./Yekan\ Bakh\ EN\ 05\ Medium.ttf);
}

@font-face {
    font-family: yekan;
    src: url(./Yekan.ttf);
}

@font-face {
    font-family: gabriola;
    src: url(./gabriola\ Font\ Download.ttf);
}