div.inputContainer{
    height:75px;
    /* border: 1px solid red; */
}


div > .inputModel {
    /*margin: 10px; */
}

div > .enterInputSmall {
    width: 200px;
}

div > .enterInputPanel {
    width: 260px;
}

div > .enterInputPane2 {
    width: 445px;
    margin-top: 45px;
}

div > .enterInputBig {
    width: 331px;
}

.inputModel > label {
    font-size: 14px;
    font-family: 'bakh';
    color:#808080;
}

.MuiInputBase-root > input {
    font-size: 16px;
    font-family: 'bakh';
    padding: 13px 15px;
    height:23px;
    color: #3c3c3c;
}

.MuiInputBase-root > textarea {
    font-size: 16px;
    font-family: 'bakh';
    height:23px;
    color: #3c3c3c;
}



/* Responsive */

@media screen and (max-width:1262px){

    div > .enterInputSmall {
        width: 123px;
        margin-top: 20px;
        margin-right: 19px;
    }

    div > .enterInputSmall > .MuiInputBase-root > input {
        font-size: 12px;
        height:21px;
    }

    div > .enterInputBig {
        width: 260px;
    }

    div > .enterInputBig > .MuiInputBase-root > input {
        font-size: 12px;
        height:21px;
    }

    div > .enterInputPanel {
        width: 195px;
    }

    div > .enterInputPane2 {
        width: 350px;
    }
    
}

@media screen and (max-width:749px){
    div > .enterInputPane2 {
        width: 220px;
    }
}