.muirtl-lc2yqr-MuiButtonBase-root-MuiIconButton-root {
    /* left: 73% !important; */
}


.MuiPaper-root {
    min-width: 160px;
}

.muirtl-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    font-family: bakh !important;
}

.muirtl-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 400px;
}