.muirtl-lc2yqr-MuiButtonBase-root-MuiIconButton-root {
    /* left: 73% !important; */
}


.popUp .MuiDialog-container .MuiPaper-root {
    min-width: 160px;
}

.muirtl-bdhsul-MuiTypography-root-MuiDialogTitle-root {
    font-family: bakh !important;
}


.popUp .MuiDialog-container .muirtl-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 400px;
}

@media screen and (max-width:749px) {
    .MuiPaper-root .MuiTypography-h6{
        font-size: 13px;
    }
}