$lg-avatar: 8rem;
$sm-avatar: 3rem;

.lg-avatar {
    width: $lg-avatar  !important;
    height: $lg-avatar  !important;
}

.sm-avatar {
    width: $sm-avatar  !important;
    height: $sm-avatar  !important;
}