.aboutUsIntroContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .aboutUsIntroContainer > .aboutUsIntroContainerDes {
    width: 52%;
  }
  
  .aboutUsIntroContainer > .aboutUsIntroContainerDes > h2 {
    font-size: 40px;
    color: #043d72;
    font-weight: normal;
    margin-top: 125px;
  }
  
  .aboutUsIntroContainer > .aboutUsIntroContainerDes > hr {
    width: 60px;
    border-width: 4px;
    border: 2px solid #fdea00;
    background-color: #fdea00;
    margin-right: 0;
    margin-top: -20px;
  }
  
  .aboutUsIntroContainer > .aboutUsIntroContainerDes > p {
    font-size: 20px;
    color: #616d76;
    margin-top: 25px;
    width: 95%;
  }
  
  .aboutUsIntroContainer > .aboutUsIntroContainerPic {
    height: 412px;
    width: 38%;
    background: url("./../../assets/images/AboutUs/intro.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 1262px) {
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > h2 {
      font-size: 27px;
      margin-top: 75px;
    }
  
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > hr {
      border-width: 3px;
      border: 1.5px solid #fdea00;
      margin-right: 0;
      margin-top: -10px;
    }
  
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > p {
      font-size: 14.5px;
      color: #616d76;
      margin-top: 25px;
    }
    .aboutUsIntroContainer > .aboutUsIntroContainerPic {
      height: 270px;
    }
  }
  
  @media screen and (max-width: 749px) {
  
    .aboutUsIntroContainer {
      display: flex;
      flex-direction: column;
    }
  
    .aboutUsIntroContainer > .aboutUsIntroContainerDes {
      width: 100%;
      order: 2;
    }
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > h2 {
      text-align: center;
      margin-top: 50px;
    }
  
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > hr {
      margin:auto;
      margin-top: -5px;
    }
  
    .aboutUsIntroContainer > .aboutUsIntroContainerDes > p {
      text-align: center;
    }
    .aboutUsIntroContainer > .aboutUsIntroContainerPic {
      width: 100%;
      order: 1;
      height: 285px;
    }
  }
  