.newsIntroContainer{
    display: flex;
    justify-content: space-between;
}

.newsIntroContainer > .newsIntroContainerDes{
    height:432px;
    width:475px;
}

.newsIntroContainer > .newsIntroContainerDes > h2{
    font-size: 40px;
    color: #043D72;
    font-weight: normal;    
    margin-top: 125px;
}

.newsIntroContainer > .newsIntroContainerDes > hr{
    width: 60px;
    border-width: 4px;
    border: 2px solid #FDEA00;
    background-color: #FDEA00;
    margin-right: 0;
    margin-top: -20px;
}

.newsIntroContainer > .newsIntroContainerDes > p{
    font-size: 20px;
    color: #616D76;   
    margin-top: 25px;
}

.newsIntroContainer > .newsIntroContainerPic{
    height:432px;
    width:449px;
    background: url('./../../assets/images/NewsIntro/intro.png');
    background-size: 449px;
}

