.registerHolder{
    height:609px;
    background: url('./../../assets/images/Register/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.registerHolder > .registerInputHolder{
    width: 499px;
    height: 396px;
    border: 2px solid #00ADEF;
    border-radius: 15px;
    background-color:  white;
    float:right;
    margin-top:125px;
    margin-right:125px;
}

.registerHolder > .registerInputHolder > .registerInputHolderReall{
    margin-top:-45px;
    margin-right: 10px;
}

.registerHolder > .registerInputHolder > p{
    font-size: 30px;
    color: #00ADEF;
    background-color: white;
    width: 183px;
    padding-right: 12px;
    margin-top: -27px;
    margin-right: 26px;
}

.registerHolder > .registerInputHolder > .registerInputHolderForP{
    font-size: 12px;
    color: #00ADEF;
    margin-right: 36px;
    margin-top: 5px;
}

.registerHolder > .registerInputHolder > .registerInputHolderRemainder{
    margin-right: 25px;
    margin-top: 20px;
}

.registerHolder > .registerInputHolder > .registerButtonHolderReall{
    margin-top: 40px;
    margin-right: -13px;
}

.registerHolder > .registerInputHolder > .registerInputHolderRemainder > .registerInputHolderRemainderP1{
    display: inline-block; 
    font-size: 14px;
    margin-right: -5px;
}

.registerHolder > .registerInputHolder > .registerInputHolderRemainder > .registerInputHolderRemainderP2{
    display: inline-block; 
    font-size: 11px;
    color:#787878;
    margin-right: 5px;
}

.registerHolder > .registerImageHolder{
    background: url('./../../assets/images/Register/register.png');
    background-size:445px 475px;
    height:550px;
    background-repeat: no-repeat;
    background-position: 105px 57px;
}


/* Responsive */

@media screen and (max-width:1262px){

    .registerHolder > .registerInputHolder{
        width: 304px;
        height: 295px;
        margin-top:50px;
        margin-right:75px;
    }

    .registerHolder > .registerInputHolder > .registerInputHolderReall{
        margin-top:-35px;
        margin-right: 1px;
    }

    .registerHolder > .registerInputHolder > p{
        font-size: 25px;
        width: 153px;
        padding-right: 7px;
        margin-right: 20px;
    }

    .registerHolder > .registerInputHolder > .registerButtonHolderReall{
        margin-top: 25px;
        margin-right: -2px;
    }

    .registerHolder > .registerImageHolder{
        background-size:271px 290px;
        background-position: 62px 50px;
        background-repeat: no-repeat;
    }
    
}

@media screen and (max-width:749px){

    .registerHolder{
        background: url('./../../assets/images/Register/bg2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .registerHolder > .registerInputHolder{
        margin-right:48px;
        margin-top: 40px;
    }

    .registerHolder > .registerImageHolder{
        display:none;
    }
    
}