.App {
    width: 1280px;
    margin: auto;
    font-family: bakh;
    direction: rtl;
}

.Toastify__toast-body div{
    font-family: bakh !important;
}

@media screen and (max-width:1262px) {

    .App {
        width: 750px;
    }

}

@media screen and (max-width:749px) {

    .App {
        width: 400px;
    }

}

.dark {
    background-color: #333;
    color: #fff;
}

.light {
    background-color: #fff;
    color: #333;
}