.loginHolder{
    height:609px;
    background: url('./../../assets/images/Login/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.loginHolder > .loginHolderLogo {
    height: 25px;
    background: url("./../../assets/images/StudentPanel/logo.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 20px;
    font-family: arshia;
    color: #1762bc;
    margin-right: 0px;
    padding: 30px 30px 30px 0;
    letter-spacing: 0.3px;
    position: absolute;
    top: 0px;
    right:40px;
    cursor: pointer;
  }
  
  .loginHolder > .loginHolderLogo > p{
    margin-top: 0px;
  }

.loginHolder > .loginInputHolder{
    width: 405px;
    height: 396px;
    border: 2px solid #04A641;
    border-radius: 15px;
    background-color:  white;
    float:right;
    margin-top:125px;
    margin-right:125px;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderReall{
    margin-top: -40px;
    margin-right: 36px;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderReall > .loginInputHolderReallEmail{
    margin-top: 65px;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderReall > .loginInputHolderReallPassword{
    margin-top: 10px;
}


.loginHolder > .loginInputHolder > p{
    font-size: 30px;
    color: #04A641;
    background-color: white;
    width: 183px;
    padding-right: 12px;
    margin-top: -27px;
    margin-right: 26px;
}

.loginHolder > .loginInputHolder > form > div> .loginInputHolderForP{
    font-size: 12px;
    color: #00ADEF;
    margin-right: 38px;
    margin-top: 5px;
    cursor: pointer;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderRemainder{
    margin-right: 35px;
    margin-top: 10px;
}

.loginHolder > .loginInputHolder > form > .loginButtonHolderReall{
    margin-top: 35px;
    margin-right: 21px;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderRemainder > .loginInputHolderRemainderP1{
    display: inline-block; 
    font-size: 14px;
    margin-right: -5px;
}

.loginHolder > .loginInputHolder > form > .loginInputHolderRemainder > .loginInputHolderRemainderP2{
    display: inline-block; 
    font-size: 11px;
    color:#787878;
    margin-right: 5px;
}


.loginHolder > .loginImageHolder{
    background: url('./../../assets/images/Login/login.png');
    background-size:445px 475px;
    height:550px;
    background-repeat: no-repeat;
    background-position: 105px 57px;
}

/* Responsive */

@media screen and (max-width:1262px){

    .loginHolder > .loginHolderLogo {
        padding: 15px 30px 15px 0;
        top: 0px;
        right:20px;
    }

    .loginHolder > .loginHolderLogo > p{
        display: none;
      }

    .loginHolder > .loginInputHolder{
        width: 304px;
        height: 295px;
        margin-top:50px;
        margin-right:75px;
    }

    .loginHolder > .loginInputHolder > form > .loginInputHolderReall{
        margin-top:-35px;
        margin-right: 22px;
    }

    .loginHolder > .loginInputHolder > form > .loginInputHolderReall > .loginInputHolderReallEmail{
        margin-top: 40px;
    }
    
    .loginHolder > .loginInputHolder > form > .loginInputHolderReall > .loginInputHolderReallPassword{
        margin-top: 0px;
    }

    .loginHolder > .loginInputHolder > form > p{
        font-size: 25px;
        width: 153px;
        padding-right: 7px;
        margin-right: 20px;
    }

    .loginHolder > .loginInputHolder > form > .loginButtonHolderReall{
        margin-top: 15px;
        margin-right: 26px;
    }

    .loginHolder > .loginInputHolder > form > div> .loginInputHolderForP{
        font-size: 10px;
        margin-top: 5px;
    }

    .loginHolder > .loginInputHolder > form > .loginInputHolderRemainder{
        margin-right: 25px;
        margin-top: 0px;
    }

    .loginHolder > .loginInputHolder > form > .loginInputHolderRemainder > .loginInputHolderRemainderP1{
        font-size: 11px;
    }
    
    .loginHolder > .loginInputHolder > form > .loginInputHolderRemainder > .loginInputHolderRemainderP2{
        display: inline-block; 
        font-size: 9px;
        color:#787878;
        margin-right: 5px;
    }

    .loginHolder > .loginImageHolder{
        background-size:271px 290px;
        background-position: 62px 50px;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:749px){

    .loginHolder{
        background: url('./../../assets/images/Register/bg2.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .loginHolder > .loginHolderLogo {
        padding: 10px 30px 10px 0;
        top: 0px;
        right:10px;
    }

    .loginHolder > .loginInputHolder{
        margin-right:48px;
        margin-top: 40px;
    }

    .loginHolder > .loginImageHolder{
        display:none;
    }

}