
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.FooterHolder{
    height:568px;
    background: url(./../../assets/images/Footer/map.png);
    background-size: 715px 568px;
    background-repeat: no-repeat;
    background-position: 550px 0px;
    margin-top: 150px;
}

.FooterHolder > .footerWeblog{
    padding-top: 7px;
    width: 633px;
    height: 57px;   
    text-align:center;
    margin: auto;
    padding-top: 90px;
}


.FooterHolder > .footerWeblog > input{
    width: 466px;
    height: 55px;
    background-color: transparent;
    border: 0px solid;
    border-radius:29px 0 0 29px;    
    box-shadow:0px 0px 10px 1px rgba(0,0,0,.1); 
    padding-right: 20px;
    margin-right: 154px;
    outline: none;
    font-family: bakh;
    font-size: 16px;
    background: white;
}

.FooterHolder > .footerWeblog > .footerWeblogMainButton:hover{
    background-color: #06D152;
}

.FooterHolder > .footerWeblog > .footerWeblogMainButton{
    transition: .3s;
    font-size: 21px;
    font-family: bakh;
    color: #ffffff;
    width: 155px;
    height: 57px;
    border-radius: 0 29px 29px 0;
    background-color: #04A641;
    text-align: center;
    line-height: 57px;
    margin-top: -57px;
    box-shadow:0px 0px 10px 1px rgba(0,0,0,.1); 
    cursor: pointer;
}


.FooterHolder > .footerContact{
    direction: ltr;
    font-size: 29px;
    font-family: gabriola;
    color: #2D527C;
    margin-left: 265px;
    padding-top: 120px;
}

.FooterHolder > .footerContact > p{
    margin: 0px;
}

.FooterHolder > .footerContact > p:nth-child(1){
    background: url(./../../assets/images/Footer/mail.png);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 50px;
    background-position: 0 7px;
}

.FooterHolder > .footerContact > p:nth-child(2){
    background: url(./../../assets/images/Footer/call.png);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 50px;
    background-position: 0 9px;
}

.FooterHolder > .footerContact > p:nth-child(3){
    background: url(./../../assets/images/Footer/group.png);
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 50px;
    background-position: 0 7px;
}

.FooterHolder > .footerSocial{
    float:left;
    margin-top: 60px;
}

.FooterHolder > .footerSocial > div{
    display: inline-block;
    height:50px;
    width:50px;
    opacity: .75;
}

.FooterHolder > .footerSocial > div:nth-child(1){
    background: url(./../../assets/images/Footer/linkedin.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 8px;
}

.FooterHolder > .footerSocial > div:nth-child(2){
    background: url(./../../assets/images/Footer/pinterest.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 8px;
}

.FooterHolder > .footerSocial > div:nth-child(3){
    background: url(./../../assets/images/Footer/whatsapp.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 8px;
}

.FooterHolder > .footerSocial > div:nth-child(4){
    background: url(./../../assets/images/Footer/twitter.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 8px;
}

.FooterHolder > .footerSocial > div:nth-child(5){
    background: url(./../../assets/images/Footer/instagram.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 235px;
}

.FooterHolder > .footerLocation{
    margin-top: 43px;
    height:80px;
    background: url(./../../assets/images/Footer/pointer.png);
    background-size: 475px 80px;
    background-repeat: no-repeat;
    background-position:620px 0px;
}

.FooterHolder > .footerLocation > p{
    padding-top: 26px;
    padding-right: 260px;
    font-size: 20px;
    color: #636363;
}



@media screen and (max-width:1262px){

    .FooterHolder{
        background-size: 483px 384px;
        background-position: 290px 0px;
        margin-top:-75px;
        height:384px;
    }
    
    .FooterHolder > .footerContact{
        font-size: 18px;
        margin-left: 95px;
        padding-top: 65px;
    }
    
    .FooterHolder > .footerContact > p:nth-child(1){
        background-size: 20px;
        padding-left: 30px;
        background-position: 0 3px;
    }
    
    .FooterHolder > .footerContact > p:nth-child(2){
        background-size: 20px;
        padding-left: 30px;
        background-position: 0 5px;
    }
    
    .FooterHolder > .footerContact > p:nth-child(3){
        background-size: 20px;
        padding-left: 30px;
        background-position: 0 5px;
    }
    
    .FooterHolder > .footerSocial{
        margin-top: 63px;
    }
    
    .FooterHolder > .footerSocial > div{
        height:32px;
        width:32px;
        opacity: .75;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(1){
        background-size: 32px;
        margin-left: 8px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(2){
        background-size: 32px;
        margin-left: 8px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(3){
        background-size: 32px;
        margin-left: 8px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(4){
        background-size: 32px;
        margin-left: 8px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(5){
        background-size: 32px;
        margin-left: 75px;
    }
    
    .FooterHolder > .footerLocation{
        margin-top: 53px;
        height:55px;
        background-size: 345px 55px;
        background-position:335px 0px;
    }
    
    .FooterHolder > .footerLocation > p{
        padding-top: 18px;
        padding-right: 130px;
        font-size: 13px;
        color: #636363;
    }

    .FooterHolder > .footerWeblog{
        width: 418px;
        height: 37px;   
        padding-top: 65px;
    }
    
    
    .FooterHolder > .footerWeblog > input{
        width: 301px;
        height: 35px;  
        padding-right: 15px;
        margin-right: 102px;
        font-size: 12px;
        box-shadow:0px 0px 8px 1px rgba(0,0,0,.06);
    }
    
    .FooterHolder > .footerWeblog > .footerWeblogMainButton{
        font-size: 14px;
        width: 102px;
        height: 37px;
        line-height: 37px;
        margin-top: -37px;
    }

}

@media screen and (max-width:749px){

    .FooterHolder{
        background: url(./../../assets/images/Footer/mapRes.png);
        background-size: 400px 230px;
        background-position: 0px 0px;
        margin-top:500px;
        height:238px;
    }
    
    .FooterHolder > .footerContact{
        margin-left: 55px;
        padding-top: 20px;
        float:left;
    }
    
    .FooterHolder > .footerSocial{
        margin-top: 0px;
        float:none;
        padding-top: 86px;
        margin-right: 0px;
    }
    
    .FooterHolder > .footerSocial > div{
        height:20px;
        width:20px;
        opacity: .75;

    }
    
    .FooterHolder > .footerSocial > div:nth-child(1){
        background-size: 20px;
        margin-right: 53px;
        margin-left:2px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(2){
        background-size: 20px;
        margin-left:2px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(3){
        background-size: 20px;
        margin-left: 2px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(4){
        background-size: 20px;
        margin-left: 2px;
    }
    
    .FooterHolder > .footerSocial > div:nth-child(5){
        background-size: 20px;
        margin-left: 0px;
    }
    
    .FooterHolder > .footerLocation{
        margin-top: -10px;
        height:55px;
        background-size: 304px 48px;
        background-position:center;
    }
    
    .FooterHolder > .footerLocation > p{
        padding-top: 18px;
        padding-right: 100px;
        font-size: 12px;
        color: #4d4d4d;
    }

    .FooterHolder > .footerWeblog{
        width: 305px;
        height: 29px;   
        padding-top: 20px;
    }
    
    
    .FooterHolder > .footerWeblog > input{
        width: 216px;
        height: 27px;  
        padding-right: 10px;
        margin-right: 50px;
        font-size: 9px;
        box-shadow:0px 0px 5px 1px rgba(0,0,0,.05);
    }
    
    .FooterHolder > .footerWeblog > .footerWeblogMainButton{
        font-size: 10px;
        width: 65px;
        height: 29px;
        line-height: 29px;
        margin-top: -29px;
        text-align: right;
        padding-right: 13px;
    }

}


