
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.FooterHolder{
    border:1px solid red;
    height: 570px;
    width: 100%;
    background: url(./../../Images/Footer/map.png);
    background-repeat: no-repeat;
    background-position: 550px;
}

div > .FooterContact{
    width: 290px;
    height: 135px;
    text-align: left;
    color: #2D527C;
    font-size: 29px;
    margin-top: 270px;
    margin-right: 725px;
    font-family: gabriola;
} 

div > .FooterContact > li:nth-child(1){
    background: url(./../../Images/Footer/mail.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size:30px;
    padding-left: 50px;
    cursor:pointer;
} 

div > .FooterContact > li:nth-child(2){
    background: url(./../../Images/Footer/call.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-size:30px;    
    padding-left: 50px;
    cursor:pointer;
} 

div > .FooterContact > li:nth-child(3){
    background: url(./../../Images/Footer/group.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    background-size:30px;
    padding-left: 50px;
    padding-top: 3px;
} 

div > .FooterLocation{
    width: 534px;
    height: 70px;
    color: #636363;
    font-size: 23px;
    font-family: bakh;
    margin-right: 110px;
    margin-top: 55px;
    background: url(./../../Images/Footer/pointer.png);
    background-repeat: no-repeat;
    background-position: -10px;
    float:right
} 

div > .FooterLocation > li{
    margin-right: 75px;
    padding-top: 18px;
}

div > .FooterSocial{
    width: 282px;
    height: 50px;
    margin-top: 65px;
    margin-right: 118px;
    display: inline-block;
    margin-bottom: 0;
}

div > .FooterSocial > li{
    display: inline-block;
    width:50px;
    height:50px;
    opacity: .75;
}

div > .FooterSocial > li:nth-child(1){
    background: url(./../../Images/Footer/linkedin.png);
    background-size: 50px;
    background-repeat: no-repeat;
}

div > .FooterSocial > li:nth-child(2){
    background: url(./../../Images/Footer/pinterest.png);
    background-size: 50px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

div > .FooterSocial > li:nth-child(3){
    background: url(./../../Images/Footer/whatsapp.png);
    background-size: 50px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

div > .FooterSocial > li:nth-child(4){
    background: url(./../../Images/Footer/twitter.png);
    background-size: 50px;
    background-repeat: no-repeat;
    margin-right: 8px;
}

div > .FooterSocial > li:nth-child(5){
    background: url(./../../Images/Footer/instagram.png);
    background-size: 50px;
    background-repeat: no-repeat;
    margin-right: 8px;
}