.MainbarContainer {
  width: 1085px;
  height: 609px;
  border-radius: 0 30px 30px 0;
  background-color: #fafafa;
}

.MainbarEditInfo {
  width: 998px;
  height: 555px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-color: white;
  margin-right: 45px;
  margin-top: 34px;
}

.MainbarEditInfo>.MainbarEditInfoTopic>p {
  width: 256px;
  padding-right: 26px;
  padding-top: 32px;
  font-size: 30px;
  color: #043d72;
}

.MainbarEditInfo>.MainbarEditInfoTopic>hr {
  width: 82px;
  border-width: 4px;
  border: 2px solid #fdea00;
  background-color: #fdea00;
  margin-right: 25px;
  margin-top: -20px;
}

.MainbarEditInfo>.MainbarEditInfoProfile {

  margin: auto;
}

.MainbarEditInfo>.MainbarEditInfoProfile>.MuiAvatar-root {
  margin: auto;
}

.MainbarEditInfoProfile>.addPicCLick {
  /* top: -37px !important;
  right: 77px !important; */
  top: -43px !important;
  right: 407px !important;
}

.MainbarEditInfo>.MainbarEditInfoProfile>.MainbarEditInfoProfileIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("./../../assets/images/StudentPanel/pic.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00707f;
  cursor: pointer;

  position: relative;
  top: 93px;
  right: -13px;
}

.MainbarEditInfo>.MainbarEditInfoInputs {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-template-rows: 45px 45px;
  gap: 50px;
  margin-right: 60px;
  /* margin-top: 40px; */
}

.MainbarEditInfo>.MainbarEditInfoInputs>div:nth-child(4) {
  /* margin-right: 154px; */
  position: relative;
  right: 310px;
}

.MainbarEditInfo>.MainbarEditInfoButton {
  width: 506px;
  margin-right: 239px;
  margin-top: 47px;
}

.MainbarEditInfoInputs>div:nth-child(4)>.datePicker_form>.rmdp-container {
  width: 88% !important;
}

.MainbarEditInfoInputs>div:nth-child(4)>.datePicker_form>.rmdp-container>div>div>svg {
  right: 13rem !important
}

@media screen and (max-width: 1262px) {

  .MainbarEditInfoProfile>.addPicCLick {
    top: -41px !important;
    right: 197px !important;
  }

  .MainbarEditInfoInputs>div:nth-child(4)>.datePicker_form>.rmdp-container {
    width: 98% !important;
  }

  .MainbarEditInfoInputs>div:nth-child(4)>.datePicker_form>.rmdp-container>div>div>svg {
    right: 10rem !important
  }

  .MainbarContainer {
    width: 610px;
    height: 660px;
    border-radius: 0 20px 20px 0;
    background-color: #fafafa;
  }

  .MainbarEditInfo {
    width: 550px;
    height: 600px;
    margin-right: 30px;
    margin-top: 35px;
  }

  .MainbarEditInfo>.MainbarEditInfoTopic>p {
    width: 185px;
    padding-right: 20px;
    font-size: 21px;
  }

  .MainbarEditInfo>.MainbarEditInfoTopic>hr {
    border-width: 3.5px;
    border: 1.75px solid #fdea00;
    margin-right: 20px;
    margin-top: -15px;
  }

  /**/


  .MainbarEditInfo>.MainbarEditInfoProfile>.MainbarEditInfoProfileIcon {
    width: 34px;
    height: 34px;
    background-size: 20px;

    position: relative;
    top: 65px;
    right: -8px;
  }

  .MainbarEditInfo>.MainbarEditInfoInputs {
    display: grid;
    grid-template-columns: 195px 195px;
    grid-template-rows: 40px 40px 40px;
    gap: 50px;
    margin-right: 60px;
    margin-top: 30px;
  }

  .MainbarEditInfo>.MainbarEditInfoInputs>div:nth-child(4) {
    margin-right: 0;
    right: 0px;
  }

  .MainbarEditInfo>.MainbarEditInfoInputs>div:nth-child(5) {
    margin-right: 125px;
  }

  .MainbarEditInfo>.MainbarEditInfoButton {
    width: 506px;
    margin-right: 128px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 749px) {


  .MainbarEditInfoProfile>.addPicCLick {
    top: -37px !important;
    right: 77px !important;
  }

  .MainbarContainerEditInfo {
    height: 880px;
  }

  .MainbarEditInfo {
    width: 300px;
    height: 725px;
    margin-right: 30px;
    margin-top: 135px;
  }

  .MainbarEditInfo>.MainbarEditInfoProfile {
    margin-top: 25px;
  }

  .MainbarEditInfo>.MainbarEditInfoInputs {
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px;
    gap: 50px;
    margin-right: 55px;
    /* margin-top: 35px; */
  }

  .MainbarEditInfo>.MainbarEditInfoTopic>p {
    width: 300px;
    padding-right: 0px;
    padding-top: 20px;
    font-size: 19px;
    text-align: center;
  }

  .MainbarEditInfo>.MainbarEditInfoTopic>hr {
    border-width: 3px;
    border: 1.5px solid #fdea00;
    margin: auto;
    margin-top: -15px;
  }

  .MainbarEditInfo>.MainbarEditInfoInputs>div:nth-child(5) {
    margin-right: 0px;
  }

  .MainbarEditInfo>.MainbarEditInfoButton {
    width: 280px;
    margin-right: 0px;
    margin-top: -57px;
  }

  .MainbarEditInfoInputs>div:nth-child(4)>.datePicker_form>.rmdp-container {
    width: 88% !important;
  }
}