div > .inputModel {
    /*margin: 10px; */
}

.inputModel > label {
    font-size: 14px;
    font-family: 'bakh';
    color:#808080;
    border-color: #c61010;
}

.MuiInputBase-root > input {
    font-size: 18px;
    font-family: 'bakh';
    padding: 13px 15px;
    height:23px;
}