
.App{
    width:1261px;
    border: 1px solid red;
    margin:auto;
    font-family: bakh;
    direction:rtl;
}

@media screen and (max-width:1266px){

    .App{
        width:750px;
    }

}

@media screen and (max-width:750px){

    .App{
        width:400px;
    }

}

.App > .fuck{
    margin: auto;
}

