
.App{
    width:1261px;
    margin:auto;
    font-family: bakh;
    border:1px solid red;
    direction:rtl;
}

@media screen and (max-width:1266px){

    .App{
        width:700px;
    }

}

.App > .fuck{
    margin: auto;
}
