
div.coursesCardCard{
    height:293px;
    box-shadow:0px 3px 8px 1px rgba(0,0,0,.05); 
    border-radius:10px;
    position: relative;
}

div.coursesCardCard > .coursesCardMedia{
    width: 98px; 
    padding: 16px 38px;
}

.coursesCardCard > .MuiCardContent-root > .coursesCardTitle{
    font-size: 21px;
    font-family: yekan;
    margin-top:5px;
}

.lightColor{
    color: #050080;
}

.darkColor{
    color: #8b87fb;
}

.coursesCardCard > .MuiCardContent-root > .coursesCardTeacher{
    font-size: 14px;
    font-family: bakh;
    margin-bottom: 5px;
    margin-top: 15px;
}

.lightColorTeacher{
    color: #555555;
}

.darkColorTeacher{
    color: rgb(223, 222, 245);
}

.coursesCardCard > .coursesCardRatNumHolder{
    position:absolute;
    top:0;
    width: 171px;
    display:flex;
    justify-content: space-between;
    font-family: monb;
    font-size: 13px;
    color: #656565;
    padding-top: 3px;
    text-align: center;
}


.coursesCardCard > .coursesCardRatNumHolder > div{
    display: inline-block;
    width:30px;
    height:30px;
    line-height:75px;
}

.coursesCardCard > .coursesCardRatNumHolder > .coursesCardRate{
    background: url('./../../assets/images/CoursesCard/clock.png');
    background-size:20px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: bakh;
}

.coursesCardCard > .coursesCardRatNumHolder > .coursesCardNum{
    background: url('./../../assets/images/CoursesCard/user.png');
    background-size:20px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: bakh;
}

/* Mobile Responsive */

@media screen and (max-width:749px){

    div.coursesCardCard{
        height:234px;
    }
    
    div.coursesCardCard > .coursesCardMedia{
        width: 78px; 
        padding: 13px 30px;
    }
    
    .coursesCardCard > .MuiCardContent-root > .coursesCardTitle{
        font-size: 16px;
        margin-top:4px;
    }
    
    .coursesCardCard > .MuiCardContent-root > .coursesCardTeacher{
        font-size: 13px;
        margin-bottom: -3px;
        margin-top: 12px;
    }

    .coursesCardCard > .coursesCardRatNumHolder{
        width: 140px;
    }

}